@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Humanizer
@using Htmx.TagHelpers

@model TemporalAirlinesConcept.Web.ViewComponents.FlightBookingForm.FlightBookingFormViewModel

<form hx-post="@Url.Action("Form", "Flight")"
      id="form-flight-booking"
      autocomplete="off"
      hx-swap="outerHTML"
      class="form-flight-booking rounded-3"
      _="on htmx:beforeSend set .flight-select-action.disabled to 'disabled'
         on htmx:afterRequest set .flight-select-action.disabled to ''">

    <input type="hidden" asp-for="@Model.SelectedFlight" value="@Model.SelectedFlight">

    @Html.Partial("Components/Plane")


    @if (Model.SelectedFlight is null)
    {
        @Html.Partial("Components/FlightBookingForm/StartSection", Model)

        @Html.Partial("Components/FlightBookingForm/FlightsListSection", Model)
    }
    else
    {
        <section class="mb-20" style="margin-top: -250px;">
            <div class="container">
                <div class="content">
                    <div class="flights flight-listing-page">
                        @Html.Partial("Components/FlightBookingForm/FlightListElement", (Model.Flights.First(f => f.Id == Model.SelectedFlight), true))
                    </div>
                </div>
            </div>
        </section>
    }

    @if (!Model.PaymentSuccessful && Model.SelectedFlight != null)
    {
        <section class="">
            <div class="container">
                <div class="content">
                    <div class="text-start flight-block bg-white light-shadow p-24 br-10 mb-16 sal-animate">
                        <h4 class="mb-3">Payment</h4>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="tickets-number">Number of tickets</label>
                                <input type="number" class="form-control" id="tickets-number" placeholder="" required="" value="1" asp-for="@Model.NumberOfSeats">
                                <small class="text-muted">Number of tickets to buy. You will be able to select seats later.</small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required="" asp-for="CreditCardDetails.NameOnCard">
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback">
                                    <span asp-validation-for="@Model.CreditCardDetails.NameOnCard"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3"></div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder=""
                                       value="4111 1111 1111 1111"
                                       required="" asp-for="CreditCardDetails.CardNumber">
                                <div class="invalid-feedback">
                                    <span asp-validation-for="@Model.CreditCardDetails.CardNumber"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="cc-expiration">Expiration Month</label>
                                <input type="text" class="form-control" id="cc-expiration-month" placeholder="" required="" asp-for="CreditCardDetails.ExpiresMonth">
                                <div class="invalid-feedback">
                                    <span asp-validation-for="@Model.CreditCardDetails.ExpiresMonth"></span>
                                </div>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="cc-expiration">Expiration Year</label>
                                <input type="text" class="form-control" id="cc-expiration-year" placeholder="" required="" asp-for="CreditCardDetails.ExpiresYear">
                                <div class="invalid-feedback">
                                    <span asp-validation-for="@Model.CreditCardDetails.ExpiresYear"></span>
                                </div>
                            </div>
                            <div class="col-md-2 mb-2">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="" asp-for="CreditCardDetails.CVV">
                                <div class="invalid-feedback">
                                    <span asp-validation-for="@Model.CreditCardDetails.CVV"></span>
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4" />

                        <div class="text-end">
                            <button class="btn btn-success btn-lg flight-select-action"
                                    hx-post="/flights/@Model.SelectedFlight/purchase"
                                    hx-swap="outerHTML"
                                    hx-push-url="true"
                                    hx-target="#form-flight-booking">
                                Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    @Html.Partial("Forms/__FormProblemDetailsSummary")

    @Html.AntiForgeryToken()
</form>
